h1{
    text-align: center;
    font-weight: normal;
    text-decoration: rgba(0, 250, 154, 0.692) underline;
    letter-spacing: 15px;
    font-size: 100px;
    font-family: monospace;
}
    
p{
        text-align: left;
        text-decoration: none;
        font-family: cambria;
        
    }
a{
    text-decoration: none;
}    
p{
    line-height: 2;
}

h1::first-letter {
     font-size:70px;
}

p::first-line {
    color: goldenrod;
}

p::selection{
    background-color:rgba(0, 250, 154, 0.692);
}

h1 {
    color:blue;
}
