img {
    width: 30%;
    margin: calc(10%/6)px;

}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid whitesmoke;
    width: 30%;
    margin-left: calc(10%/6)px;
    padding: 1.2em 0;

}